__pycache__/
*.pyc
*.db
*.db-wal
*.db-shm
.pytest_cache/
build/
dist/
*.spec.bak
.venv/
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/upload-keystore.jks
mobile/android/key.properties
